<%-include("../include/head.ejs") %>



<body>
    <%-include('../include/navigation.ejs') %>

    <h1>Page Not Found!</h1>
Q
    
    <img src=
"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhQMS65rmlwcu8t1GCnQrniZJ6Z1Rr1SwLMw&usqp=CAU">

<a href="/user">Back to home</a>

<%-include('../include/end.ejs') %>

