<%-include("../include/head.ejs")%>
<link rel="stylesheet" href="http://localhost:5000/product.css">
<link rel="stylesheet" href="http://localhost:5000/main.css">
</head>
<body>
<%-include("../include/navigation.ejs")%>

<h1>chcekout</h1>

<%-include("../include/end.ejs")%>