/express_practice/node_modules
/express_practice/package-lock.json
/express_practice/.env
/Maximilian_express_practice/.env
/Maximilian_express_practice/.eslintrc
/Maximilian_express_practice/package-lock.json
/Maximilian_express_practice/node_modules
/express_practice/.env
/sequelize_practice/.env
/sequelize_practice/.eslintrc
/sequelize_practice/node_modules
/sequelize_practice/package-lock.json
/sql_practice/node_modules
/sql_practice/.eslintrc
/sql_practice/package-lock.json
/sql_practice/.env
/nosql_practice/node_modules
/nosql_practice/.env
/nosql_practice/.eslintrc
/nosql_practice/package-lock.json
/nosql_practice _with_mongoose/package-lock.json
/nosql_practice _with_mongoose/node_modules
/nosql_practice _with_mongoose/.env
/nosql_practice _with_mongoose/.eslintrc
/cookies_ add_session/node_modules
/cookies_ add_session/.env
/cookies_ add_session/.eslintrc
/cookies_ add_session/package-lock.json